<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
    <%- include ../partials/imports %>
    <link rel="stylesheet" href="/static/css/features.css" />
    <script src="/static/js/external/socket.io.js"></script>
    <script src="/static/js/features.js"></script>
  </head>
  <body>
    <%- include ../partials/navbar -%>
    <%- include ../partials/dashboardnavbar -%>
    <section class="featuresection">
      <div class="featurecontent">
        <div class="features makewhite">
          <div class="feature">
            <div class="featureImgSide">
              <div class="featureImg">🛠️</div>
            </div>
            <div class="featureTextSide">
              <div class="featureBothText">
                <div class="featureHeader">Moderation</div>
                <div class="featureText">Disciplinize your server with the best moderation tools!</div>
              </div>
            </div>
            <label class="switch">
              <input id="moderation" type="checkbox">
              <span class="slider"></span>
            </label>
            <div class="featureFooter"><a class="makewhite makewhitehover" href="/dashboard/<%= guild.id %>/moderation">EDIT FEATURE</a></div>
          </div>
          <div class="feature">
            <div class="featureImgSide">
              <div class="featureImg">🎶</div>
            </div>
            <div class="featureTextSide">
              <div class="featureBothText">
                <div class="featureHeader">Music</div>
                <div class="featureText">Listen to high quality music with the type of a command!</div>
              </div>
            </div>
            <label class="switch">
              <input id="music" type="checkbox">
              <span class="slider"></span>
            </label>
            <div class="featureFooter"><a class="makewhite makewhitehover" href="/dashboard/<%= guild.id %>/music">EDIT FEATURE</a></div>
          </div>
          <div class="feature">
            <div class="featureImgSide">
              <div class="featureImg">📜</div>
            </div>
            <div class="featureTextSide">
              <div class="featureBothText">
                <div class="featureHeader">Ticket System</div>
                <div class="featureText">Give yours users a way to communicate feedback!</div>
              </div>
            </div>
            <label class="switch">
              <input id="ticket" type="checkbox">
              <span class="slider"></span>
            </label>
            <div class="featureFooter"><a class="makewhite makewhitehover" href="/dashboard/<%= guild.id %>/ticketsys">EDIT FEATURE</a></div>
          </div>
          <div class="feature">
            <div class="featureImgSide">
              <div class="featureImg">👨‍💻</div>
            </div>
            <div class="featureTextSide">
              <div class="featureBothText">
                <div class="featureHeader">Logs</div>
                <div class="featureText">Overlook every single action that takes place!</div>
              </div>
            </div>
            <label class="switch">
              <input id="logs" type="checkbox">
              <span class="slider"></span>
            </label>
            <div class="featureFooter"><a class="makewhite makewhitehover" href="/dashboard/<%= guild.id %>/ticketsys">EDIT FEATURE</a></div>
          </div>
        </div>
      </div>
    </section>
    <script>
      main(<%- JSON.stringify(enableSettings) %>, "<%= guild.id %>");
    </script>
  </body>
</html>
